@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Lobster&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    font-family: 'Arial, sans-serif';
    color: #333;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none; /* Add this line */
}

.home-container {
    font-family: 'Arial, sans-serif';
    color: #333;
}

.hero-section {
    font-family: 'Dancing Script', cursive;
    height: 100vh; /* Make hero take full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1; /* Set z-index to ensure it's lower than the navbar */
    margin: 0;  /* Ensure there's no margin pushing it away from the top */
    padding: 0; /* Ensure no padding affects layout */
    overflow: hidden; /* Add this line */
}

.hero-overlay {
  background: rgba(58, 29, 12, 0);
  padding: 30px; /* Increase padding for a larger box */
  position: relative;
  z-index: 2; /* Ensure hero overlay is above hero section but below the navbar */
  top: 20vh; /* Adjust the position to move it lower on the page */
  box-shadow: 0 0 10px 10px rgba(58, 29, 12, 0); /* Feathered shadow */
  transition: all 0.3s ease-in-out; /* Smooth transition for any changes */
}

.details-section {
    padding: 40px 20px;
    text-align: center;
}

.image-gallery {
    padding: 20px;
    text-align: center;
}

.image-gallery .gallery img {
    max-width: 30%;
    margin: 10px;
    border-radius: 10px;
    /* Add responsive adjustments */
    width: 100%;
    height: auto;
}

.home-footer {
    font-family: 'Dancing Script', cursive;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
}

.rsvp-button {
    background-color: #1d94dd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.rsvp-button:hover {
    background-color: #1578b5;
}

.countdown-section {
  text-align: center;
  padding: 20px 0;
  background-color: #f4f4f4; /* Optional: change background to match your theme */
}

.countdown-timer {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.countdown-timer span {
  margin: 0 10px;
}

.main-info {
  font-family: 'Homemade Apple';
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  padding: 50px 50px;
}

.main-info-sub {
  font-family: 'Homemade Apple';
  font-size: 1.2rem;
  text-align: justify;
  padding: 0px 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-overlay {
    padding: 20px;
    top: 10vh;
    transform: scale(1);
  }

  .image-gallery .gallery img {
    max-width: 45%;
  }

  .countdown-timer {
    font-size: 1.8rem;
  }

  .rsvp-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 500px) {
  .hero-section {
    padding: 20px;
  }

  .hero-overlay {
    transform: scale(1);
    padding: 20px;
    top: 10vh;
  }

  .hero-video {
    position: absolute;
    top: 0;
    left: 50%; /* Change this from 20% to 50% */
    width: 100%; /* Change this from 120% to 100% */
    height: 100%;
    transform: translateX(-50%); /* Change this */
    object-fit: cover;
    z-index: 1;
  }

  .image-gallery .gallery img {
    max-width: 90%;
  }

  .countdown-timer {
    font-size: 1.5rem;
  }

  .countdown-timer span {
    margin: 0 5px;
  }

  .rsvp-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
